CONFIG_ESP_SDR_S3_UART_ENABLED CONFIG_ESP_SDR_UART_ENABLED
CONFIG_ESP_SDR_S3_UART_BAUD CONFIG_ESP_SDR_UART_BAUD
CONFIG_ESP_SDR_S3_UART_TX_PIN CONFIG_ESP_SDR_UART_TX_PIN
CONFIG_ESP_SDR_S3_UART_RX_PIN CONFIG_ESP_SDR_UART_RX_PIN
